@model IEnumerable<ContosoUniversity.Models.Statistic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<input type="button" value="Aybasi tablosu olustur" onclick="location.href='@Url.Action("createStatisticsTable","Statistic")'" />
<br /><br />


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.restaurant.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysToGo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysLeft)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.restaurant.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaysToGo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaysLeft)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
