@model ContosoUniversity.Models.Point

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Point</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GivenPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GivenPoint)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
