@model DXWebApplication5.Models.Restoran

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restoran</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RestoranAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestoranAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Istatistik.RID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Istatistik.RID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
